<table class="table eutable">
  <tr>
    <td><h3>Details for {{attraction.name}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Attraction </td>
    <td>{{attraction.name}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{attraction.description}}</td>
  </tr>
  <tr>
    <td>Address </td>
    <td>{{attraction.address}}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>{{attraction.phone}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{attraction.email}}</td>
  </tr>
   <tr>
    <td>Website</td>
    <td>{{attraction.website}}</td>
  </tr>
  <tr>
    <td>Hours/Timings</td>
    <td>{{attraction.hours}}</td>
  </tr>
  <tr>
    <td>Travel Instructions</td>
    <td>{{attraction.travelInstructions}}</td>
  </tr>
  <tr>
    <td>Rating</td>
    <td>{{attraction.siteRating}}</td>
  </tr>
  <tr>
    <td>Tips</td>
    <td>{{attraction.tips}}</td>
  </tr>
  
</table>

<div>
  <a class="btn btn-primary" href="#/countries/{{countryId}}/cities/{{cityId}}/attractions/{{attraction.id}}/edit">Edit</a>
   <a class="btn btn-primary" href="#/countries/{{countryId}}/cities/{{cityId}}/view">Back To List</a>
</div>