<div class="form-group" ng-class="{ 'has-error': countryForm.name.$invalid && countryForm.name.$dirty}">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input type="text" name="name" ng-model="country.name" class="form-control" id="title" placeholder="Country name Here" required/>
  </div>
</div>
<div class="form-group" ng-class="{ 'has-error': countryForm.description.$invalid && countryForm.description.$dirty}">
  <label for="description" class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10">
    <textarea ng-model="country.description" name="description" class="form-control" id="description" placeholder="Description about the country" required></textarea>
    
   <!--  <input type="text" ng-model="country.description" class="form-control" id="description" placeholder="Description about the country"/> -->
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save" ng-disabled="countryForm.$invalid"/>
  </div>
</div>

